{
  "presets": ["@babel/env", "@babel/react", "@babel/typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "root": ".",
          "src": "/src"
        }
      }
    ]
  ]
}
